# Postgres data
pgdata/

# odo CLI state (if you use odo)
.odo/

# Docker artifacts
docker-compose.override.yml
.env

# Python/Odoo artifacts
__pycache__/
*.py[cod]
*.egg-info/

# Node/npm
node_modules/

# OS/editor
.DS_Store
*.swp
